<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nothing.numberpuzzle">


    <application
        android:allowBackup="true"
        android:icon="@mipmap/logonumbergames"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logonumbergames"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/Theme.NumberPuzzle">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|smallestScreenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>